/* Altera as fontes do sistema */
fonts = 'Open Sans', sans-serif;
/* Altera as propriedades do menu*/
menuBackgroundColor = #343633;
menuWidth = 15%
menuFontColor = #E4F0FB;
submenuColor = #9EA3B0;
/* Altera as propriedades da navbar*/
navbarHeight = 50px
navbarBackgroundColor = #ededed
navbarLogoColor = #00796b
/* Altera as propriedades da table*/
tableBorder = #bdc3c7
/* Altera as propriedades das cores de erro/sucesso */
successColor = #3c763d
errorColor = #a94442

