<form name="forms" novalidate>
    <div class="col-md-12">

        <input type="text" name="descricao" ng-model="entity.descricao" class="form-control" gumga-required />
        <gumga-errors name="descricao"></gumga-errors>

        <label for="checkbox">
            <input type="checkbox" ng-model="entity.ativo"/>
            <strong>ATIVO</strong>
        </label>
        
        <gumga-form-buttons
                back="coisa.list"
                submit="update(entity)"
                position="right"
                valid="forms.$valid"
                ></gumga-form-buttons>
    </div>
</form>