Home { url="/" id="home" class="uhul" seguranca="acao" } 
CRUD
	Coisas { url="coisa" id="coisa" } 
Sair { url="#" } 
Pessoa { url="pessoa" id="pessoa" }

Funcionario { url="funcionario" id="funcionario" }

Cliente { url="cliente" id="cliente" }

HorarioTrabalho { url="horariotrabalho" id="horariotrabalho" }

Pedido { url="pedido" id="pedido" }

ItemPedidoProduto { url="itempedidoproduto" id="itempedidoproduto" }

ItemPedidoServico { url="itempedidoservico" id="itempedidoservico" }

Entrega { url="entrega" id="entrega" }

Produto { url="produto" id="produto" }

Servico { url="servico" id="servico" }

Marca { url="marca" id="marca" }
