#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )

/${artifactId}-api/target/
/${artifactId}-aplication/target/
/${artifactId}-domain/target/
/${artifactId}-gateway/target/
/${artifactId}-infrastructure/target/
/${artifactId}-presentation/target/
