@import url("gumga.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html {
	height: 100%;
}

body {
	padding-top: 50px;
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	width: 100% /* needed for Firefox */
}

 a {
 	cursor: pointer;
 }
  
#container {
	width: 100%;
	padding: 0 15px;
}
 
 .form-group.disabled,
 .form-group.disabled .form-control,
 .form-control.disabled {
 	color: #AAA; 
 }
 
 .modal {
 	background-color: rgba(0,0,0,0.5);
 }
 
 .modal-backdrop {
 	background-color: transparent;
 
 }
 
 .panel .panel-heading.buttons .panel-title {
 	padding-top: 7.5px;
 }
 
 .panel .panel-heading.buttons .btn {
	 margin-top: 0;
	 margin-bottom: 0;
 }
 
.blockOverlay {
	background-color: #333333;
	background-image: url(../images/loader_inverse.gif);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2000;
	opacity: 0.5;
}

.alert-danger .details {
	font-size: 70%;
}



.navbar-gumga {
	background-color: #FFF;
	box-shadow: 0px -1px 10px #999;
}
.navbar-gumga .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ddd;
}
.navbar-gumga .navbar-toggle {
	border-color: #ddd;
}
.navbar-gumga .navbar-toggle .icon-bar {
	background-color: #888;
}
.navbar-gumga .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}


.gumga-title {
	color: #666;
	font-weight: 300;
	font-size: 24px;
}


.form-group .twitter-typeahead {
	width: 100%;
}

.line-through {
	text-decoration: line-through;	
}

.gumga-crud-search-simple {
    position: relative;
}
.gumga-crud-search-simple .gumga-search {
    margin-right: 40px;
}
.gumga-crud-search-simple  .btn-switch-filters {
    width: 40px;
    right: 15px;
    top: 0;
    position: absolute;
}

/* Hack para o botão ficar do tamanho correto */
.gumga-crud-search-simple  .btn-switch-filters::after {
    content : "-";
    visibility: hidden;
}